body {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: left;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(0, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

hr {
    border: 1px solid hsl(240, 5%, 91%);
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card-wrapper {
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    padding: 3em;
    background-color: white;
    background-image: url(../images/illustration-woman-online-desktop.svg),
    url(../images/bg-pattern-desktop.svg);
    
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: 
        top 4em left -4.8em,
        top 4em left -4.8em;
    color: hsl(238, 29%, 16%);
}
/* 
.illustration-desktop {
    z-index: 1;
    position: relative;
    right: 16em;
} */

.box-illustration-desktop {
    position: relative;
    right: 5.8em;
    top: 8em;
}

.dropdown-wrapper {
    flex-direction: column;
    margin: 3em 2em 3em 24em;
}

.faq-lable {
    margin-left: 12em;
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    font-size: 2em;
}

.dropdown-header {
    /* margin: 0.5em 0; */
    padding: 0.5em;
    font-weight: bold;
    font-size: 1em;
    color: hsl(240, 6%, 50%);
    border: none;
    border-radius: 5px;
    width: 24em;
    text-align: left;
    outline: none;
}

.dropdown-header:hover {
    background-color:hsl(240, 5%, 91%);
}

/* .dropdown-header::after {
    content: url(../images/icon-arrow-down.svg) / "dropdown icon arrow";
    float: right;
    transform: rotate(180deg);
} */

.dropdown-arrow {
    padding-top: 7px;
    float: right;
}



.dropdown-content {
    margin-left: .5em;
    font-weight: 400;
    font-size: .8em;
    color: hsl(240, 6%, 50%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ! toggle styles */

.image-rotate {
    transform: rotate(180deg);
}

.header-inactive {
    font-weight: 400;
}


.dropdown-inactive {
    display: none;
}

.dropdown-arrow-active {
    padding-top: 0;
    padding-bottom: 5px;
    transform: rotate(180deg);
}